<div class="wp-block-file">
<object class="wp-block-file__embed" data="<%=content.url%>" type="<%=content.mytype%>" style="width:100%;height:600px" aria-label="<%=content.label%>"></object><a id="wp-block-file--media-77bb28c6-b72e-4233-bb25-696975a77248" href="<%=content.url%>"><%=content.filename%></a>

<a href="<%=content.url%>" class="wp-block-file__button" download="" aria-describedby="wp-block-file--media-77bb28c6-b72e-4233-bb25-696975a77248"><%=t('onpages.download')%>
</a></div>