<a href="<%=url_for(controller: "concerts",action:"show", title: concert.url, locale: @currentlocale)%>" class="archive-card col-12 col-lg-10 offset-lg-1 has-image">
          <div class="archive-image-block">
            <img class="archive-card-image"
              src="<%=concert.image%>"
              alt="<%=concert.title%>" />
          </div>
          <div class="archive-inner-block">
            <h3 class="archive-post-title">
              <%=concert.title%>            </h3>

            <div class="archive-post-excerpt">
              <%=concert.subtitle%>           </div>

            <div class="concert-card-tags card-tags">
                      <%if concert.playtimes.length == 1%>
                                            <span class="card-tag">
                  <%=JSON.parse(concert.listlocations).join(',').downcase.gsub(" ",'+')%>                </span>
            <%elsif concert.playtimes.length > 1%>
                                            <span class="card-tag">
                 <%=t("nblocation",count: concert.playtimes.length)%> </span>
                 <%end%>
            <%if concert.nblivestreams > 0%>
                                            <span class="card-tag">
                  <%=t("nblivestreams", count: concert.nblivestreams)%>                 </span>

            <%end%>
                          </div>

          </div>
        </a>