<div class="page-header split-header">
  <div class="container">
    <div class="row">
      <div class="page-header-content col-12 col-lg-6">
                  <a class="back-link" href="<%=url_for(controller: "joinus/private", action: "index", locale: @currentlocale)%>" title="<%=t('onpages.backtosupportus')%>"><%=t('onpages.backtosupportus')%></a>
        <h1><%=@post.title%></h1>
        <p><%=@post.subtitle%> </p>
      </div>
      <div class="col-12 col-lg-6 page-header-visual">
        <img class="concert-card-image"
          src="<%=@post.image%>"
          alt="<%=@post.title%>" />
      </div>
    </div>
  </div>
</div>
<div class="single-page-content">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1">
        

          <article class="page-content">
    
    
          <a class="back-link" href="<%=url_for(controller: "joinus/private", action: "index", locale: @currentlocale)%>" title="<%=t('onpages.backtoparticulier')%>"><%=t('onpages.backtoparticulier')%></a>
    <%@post.mycontents.each do |x|%>
    
<%=render "listen/#{x.model_name.singular}", content: x%>
 
    <%end%>
    
  </article>	<%=render "newsletter"%>
    </div>
  </div>
</div>
