<%=form_with model: newsletter, scope:"", url: "/engine?locale=#{I18n.locale}",html: {id: "cx_1", class: "cx_form-P5 cx_form", name: "main", "data-urlifmodified"=>"/engine?service=recordmanager:form:P5//1499&amp;cmd=asksave&amp;locale=#{I18n.locale}"} do |form| %>
			<input name="form-id" type="hidden" value="30">
		<input name="csrf-key" type="hidden" value="2524275471515589448">
		<input name="submit-number" type="hidden" value="0">
		<!-- XText empty is not visible at this time, because - - no explanation - - -->




<%if newsletter.errors.messages.length > 0%>
<div class="alert alert-danger" data-explanationurl="">
		<%=t('onpages.errorform')%><ul>
<%newsletter.errors.messages.each do |m|%>
<li><%=m[1][0]%></li>
<%end%>
</ul>
	</div>
<%end%>








	<div id="cx_2" class="row cx_paragraph cx_grid-row cx_paragraph-P18 cx_paragraph-wrapper cx_paragraph-P18-wrapper">		
		<div class="cx_grid-col">
						 			
					






<div class="cx_fieldlines ">
	<input type="hidden" name="fieldgroup:30" value="ok">
			





		

 


<div id="cx_marker_line_cx_marker_value_form-P45" class="row cx_fieldline form-group cx_grid-row cx_form-group-sm">
				
						
		
		
		
			
		
				
				
								
						<div class="col-md-3 cx_grid-col control-label cx_control-label-left text-md-right col-form-label col-form-label-sm">
									<%=form.label(:firstname,class: "cx_label", id: "cx_label-form:P45", for: "form:P45")%>
						
									
			</div>
			
				<div class="col-md-9 cx_grid-col cx_fieldline-content"> 
									
						
																				

<div id="cx_marker_value_form-P45" class="cx_widget cx_required cx_widget-form:P45 cx_persistantContent" data-btn-size="0">
	 	
	
			
	



<%=form.text_field :firstname, id: "form:P45", class: "form-control-sm form-control"%> 
	
		 
		</div>
																	
	</div>
		
	
</div>
			





		

 


<div id="cx_marker_line_cx_marker_value_form-P46" class="row cx_fieldline form-group cx_grid-row cx_form-group-sm">
				
						
		
		
		
			
		
				
			
								
						<div class="col-md-3 cx_grid-col control-label cx_control-label-left text-md-right col-form-label col-form-label-sm">
									<%=form.label(:prefix, class: "cx_label", id: "cx_label-form:P46", for: "form:P46")%>
						
									
			</div>
			
				<div class="col-md-9 cx_grid-col cx_fieldline-content"> 
									
						
																				

<div id="cx_marker_value_form-P46" class="cx_widget cx_widget-form:P46 cx_persistantContent" data-btn-size="0">
	 	
	
			
	



<%=form.text_field :prefix, id: "form:P46", class: "form-control-sm form-control" %>
	
		 
		</div>
																	
	</div>
		
	
</div>
			





		

 


<div id="cx_marker_line_cx_marker_value_form-P47" class="row cx_fieldline form-group cx_grid-row cx_form-group-sm">
				
						
		
		
		
			
		
				
				
								
						<div class="col-md-3 cx_grid-col control-label cx_control-label-left text-md-right col-form-label col-form-label-sm">
									<%=form.label(:lastname, class: "cx_label", id: "cx_label-form:P47", for: "form:P47")%>
						
									
			</div>
			
				<div class="col-md-9 cx_grid-col cx_fieldline-content"> 
									
						
																				

<div id="cx_marker_value_form-P47" class="cx_widget cx_required cx_widget-form:P47 cx_persistantContent" data-btn-size="0">
	 	
	
			
	



<%=form.text_field :lastname, id: "form:P47", class: "form-control-sm form-control"%> 
	
		 
		</div>
																	
	</div>
		
	
</div>
			





		

 


<div id="cx_marker_line_cx_marker_value_form-P48" class="row cx_fieldline form-group cx_grid-row cx_form-group-sm">
				
						
		
		
		
			
		
				
				
								
						<div class="col-md-3 cx_grid-col control-label cx_control-label-left text-md-right col-form-label col-form-label-sm">
									<%=form.label(:email, class: "cx_label", id: "cx_label-form:P48", for: "form:P48")%>
						
									
			</div>
			
				<div class="col-md-9 cx_grid-col cx_fieldline-content"> 
									
						
																				

<div id="cx_marker_value_form-P48" class="cx_widget cx_required cx_widget-form:P48 cx_persistantContent" data-btn-size="0">
	 	
	
			
	



<%=form.email_field :email, id: "form:P48", class: "form-control-sm form-control" %>
	
		 
		</div>
																	
	</div>
		
	
</div>
			





		

 


<div id="cx_marker_line_cx_marker_value_form-P49" class="row cx_fieldline form-group cx_grid-row cx_form-group-sm">
				
						
		
		
		
			
		
				
				
								
						<div class="col-md-3 cx_grid-col control-label cx_control-label-left text-md-right col-form-label col-form-label-sm">
									
			</div>
			
				<div class="col-md-9 cx_grid-col cx_fieldline-content"> 
									
						
																				

<div id="cx_marker_value_form-P49" class="cx_widget cx_required cx_widget-form:P49 cx_persistantContent" data-btn-size="0">
	 	
	
			
	<div class="form-control-sm form-control-plaintext cx_form-control-plaintext cx_checkbox">
			<%=form.check_box :newsletter,{id: "form:P49"}, "true","false"%>
	<%=form.label(:newsletter,for: "form:P49", class: "cx_custom-checkbox")%>
			<%=form.label(:newsletter, for: "form:P49", class: "control-label cx_label-inline form-check-label")%>
			
	</div> 
	
		 
		</div>
																	
	</div>
		
	
</div>
			





		

 








		

 


<div id="cx_marker_line_cx_marker_value_form-P51" class="row cx_fieldline form-group cx_grid-row cx_form-group-sm">
				
						
		
		
		
			
		
				
			
								
						<div class="col-md-3 cx_grid-col control-label cx_control-label-left text-md-right col-form-label col-form-label-sm">
									
			</div>
			
				<div class="col-md-9 cx_grid-col cx_fieldline-content"> 
									
						
																				

<div id="cx_marker_value_form-P51" class="cx_widget cx_widget-form:P51 cx_persistantContent" data-btn-size="0" data-urlonchange="/engine?modified-field=form:P51&amp;xform=30&amp;x-key=30&amp;xajax-source=fieldgroup&amp;locale=<%=I18n.locale%>">
	 	
	
			
	<div class="form-control-sm form-control-plaintext cx_form-control-plaintext cx_checkbox">
				<%=form.check_box :brochures, {class: "cx_autosubmit", id: "form:P51"}, "true", "false" %>
	<%=form.label(:brochures, for: "form:P51", class: "cx_custom-checkbox")%>
			<%=form.label(:brochures, for: "form:P51", class: "control-label cx_label-inline form-check-label")%>
			
	</div> 
	
		 
		</div>
																	
	</div>
		
	
</div>
				





		

 


<div id="cx_marker_line_cx_marker_value_form-P54" class="row cx_fieldline form-group cx_grid-row cx_form-group-sm">
				
						
		
		
		
			
		
				
				
								
						<div class="col-md-3 cx_grid-col control-label cx_control-label-left text-md-right col-form-label col-form-label-sm">
									<%=form.label(:street, class: "cx_label", id: "cx_label-form:P54", for: "form:P54")%>
						
									
			</div>
			
				<div class="col-md-9 cx_grid-col cx_fieldline-content"> 
									
						
																				

<div id="cx_marker_value_form-P54" class="cx_widget cx_required cx_widget-form:P54 cx_persistantContent" data-btn-size="0" data-urlonchange="/engine?modified-field=form:P54&amp;xform=30&amp;x-key=30&amp;xajax-source=fieldgroup&amp;locale=<%=I18n.locale%>">
	 	
	
			
	



<%=form.text_field :street, id: "form:P54", class: "form-control-sm form-control cx_autosubmit"%>
	
		 
		</div>
																	
	</div>
		
	
</div>
	
				





		

 


<div id="cx_marker_line_cx_marker_value_form-P50" class="row cx_fieldline form-group cx_grid-row cx_form-group-sm">
				
						
		
		
		
			
		
				
				
								
						<div class="col-md-3 cx_grid-col control-label cx_control-label-left text-md-right col-form-label col-form-label-sm">
									<%=form.label(:housenumber, class: "cx_label", id: "cx_label-form:P50", for: "form:P50")%>
						
									
			</div>
			
				<div class="col-md-9 cx_grid-col cx_fieldline-content"> 
									
						
																				

<div id="cx_marker_value_form-P50" class="cx_widget cx_required cx_widget-form:P50 cx_persistantContent" data-btn-size="0" data-urlonchange="/engine?modified-field=form:P50&amp;xform=30&amp;x-key=30&amp;xajax-source=fieldgroup&amp;locale=<%=I18n.locale%>">
	 	
	
			
	



<%=form.text_field :housenumber, id: "form:P50", class: "form-control-sm form-control cx_autosubmit"%>
	
		 
		</div>
																	
	</div>
		
	
</div>
	
				





		

 


<div id="cx_marker_line_cx_marker_value_form-P53" class="row cx_fieldline form-group cx_grid-row cx_form-group-sm">
				
						
		
		
		
			
		
				
				
								
						<div class="col-md-3 cx_grid-col control-label cx_control-label-left text-md-right col-form-label col-form-label-sm">
									<%=form.label(:postcode, class: "cx_label", id: "cx_label-form:P53", for: "form:P53")%>
						
									
			</div>
			
				<div class="col-md-9 cx_grid-col cx_fieldline-content"> 
									
						
																				

<div id="cx_marker_value_form-P53" class="cx_widget cx_required cx_widget-form:P53 cx_persistantContent" data-btn-size="0" data-urlonchange="/engine?modified-field=form:P53&amp;xform=30&amp;x-key=30&amp;xajax-source=fieldgroup&amp;locale=<%=I18n.locale%>">
	 	
	
			
	



<%=form.text_field :postcode, id: "form:P53", class: "form-control-sm form-control cx_autosubmit" %> 
	
		 
		</div>
																	
	</div>
		
	
</div>
	
				





		

 


<div id="cx_marker_line_cx_marker_value_form-P52" class="row cx_fieldline form-group cx_grid-row cx_form-group-sm">
				
						
		
		
		
			
		
				
				
								
						<div class="col-md-3 cx_grid-col control-label cx_control-label-left text-md-right col-form-label col-form-label-sm">
									<%=form.label(:city, class: "cx_label", id: "cx_label-form:P52", for: "form:P52")%>
						
									
			</div>
			
				<div class="col-md-9 cx_grid-col cx_fieldline-content"> 
									
						
																				

<div id="cx_marker_value_form-P52" class="cx_widget cx_required cx_widget-form:P52 cx_persistantContent" data-btn-size="0" data-urlonchange="/engine?modified-field=form:P52&amp;xform=30&amp;x-key=30&amp;xajax-source=fieldgroup&amp;locale=<%=I18n.locale%>">
	 	
	
			
	



<%=form.text_field :city, id: "form:P52", class: "form-control-sm form-control cx_autosubmit" %>
	
		 
		</div>
																	
	</div>
		
	
</div>
	
				





		

 


<div id="cx_marker_line_cx_marker_value_form-P75" class="row cx_fieldline form-group cx_grid-row cx_form-group-sm">
				
						
		
		
		
			
		
				
				
								
						<div class="col-md-3 cx_grid-col control-label cx_control-label-left text-md-right col-form-label col-form-label-sm">
									<%=form.label(:country, class: "cx_label", id: "cx_label-form:P75", for: "form:P75")%>
						
									
			</div>
			
				<div class="col-md-9 cx_grid-col cx_fieldline-content"> 
									
						
																				

<div id="cx_marker_value_form-P75" class="cx_widget cx_required cx_widget-form:P75 cx_persistantContent" data-btn-size="0" data-urlonchange="/engine?modified-field=form:P75&amp;xform=30&amp;x-key=30&amp;xajax-source=fieldgroup&amp;locale=<%=I18n.locale%>">
	 	
	
			
	



<%=form.text_field :country, id: "form:P75", class: "form-control-sm form-control cx_autosubmit" %> 
	
		 
		</div>
																	
	</div>
		
	
</div>
	
				





		

 


<div id="cx_marker_line_cx_marker_value_form-P55" class="row cx_fieldline form-group cx_grid-row cx_form-group-sm">
				
						
		
		
		
			
		
				
			
								
						<div class="col-md-3 cx_grid-col control-label cx_control-label-left text-md-right col-form-label col-form-label-sm">
									<%=form.label(:phone, class: "cx_label", id: "cx_label-form:P55", for: "form:P55")%>
						
									
			</div>
			
				<div class="col-md-9 cx_grid-col cx_fieldline-content"> 
									
						
																				

<div id="cx_marker_value_form-P55" class="cx_widget cx_widget-form:P55 cx_persistantContent" data-btn-size="0" data-urlonchange="/engine?modified-field=form:P55&amp;xform=30&amp;x-key=30&amp;xajax-source=fieldgroup&amp;locale=<%=I18n.locale%>">
	 	
	
			
	



<%=form.text_field :phone, id: "form:P55", class: "form-control-sm form-control cx_autosubmit" %>
	
		 
		</div>
																	
	</div>
		
	
</div>
	
			





		

 


<div id="cx_marker_line_cx_marker_value_form-P56" class="row cx_fieldline form-group cx_grid-row cx_form-group-sm">
				
						
		
		
		
			
		
				
				
								
						<div class="col-md-3 cx_grid-col control-label cx_control-label-left text-md-right col-form-label col-form-label-sm">
									
			</div>
			
				<div class="col-md-9 cx_grid-col cx_fieldline-content"> 
									
						
																				

<div id="cx_marker_value_form-P56" class="cx_widget cx_required cx_widget-form:P56 cx_persistantContent" data-btn-size="0">
	 	
	
			
	<div class="form-control-sm form-control-plaintext cx_form-control-plaintext cx_checkbox">
			<%=form.check_box :privacy, {id:"form:P56"}, "true","false"%>
	<%=form.label(:privacy,for: "form:P56", class: "cx_custom-checkbox")%>
			<%=form.label(:privacy, for: "form:P56", class: "control-label cx_label-inline form-check-label")%>
			
	</div> 
	
		 
		</div>
																	
	</div>
		
	
</div>
		</div>
	

	<div class="cx_text" data-explanationurl="">
		* required field
	</div>


 

		

			 		</div>
	</div>

	<div id="cx_3" class="cx_btn-toolbar cx_btn-toolbar-sm" role="group" aria-label="button bar">
						<div class="btn-toolbar">
							

 



<a id="cx_4" role="button" class="btn btn-success cx_btn btn-sm cx_btn-send cx_submit" href="/engine?service=recordmanager:form:P5//1499&amp;cmd=save&amp;locale=<%=I18n.locale%>" aria-label="<%=t("activerecord.attributes.friendship.send")%>" draggable="false" data-changeonmodifiedstate="true">
							<span class="cx_icon fa" aria-hidden="true" data-btnname="save"></span> 	
							<span class="cx_btn-label"><%=t("activerecord.attributes.friendship.send")%></span>
				</a>
					</div>
			</div>

<%end%>