
  <div class="single-page-content content-noimage">

  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 offset-lg-1">
        
  <article class="page-content">
    
    <h1><%=t('onpages.pitypayment')%></h1>
    
<p><%=t('onpages.tryagain').html_safe%></p>



<p><%=t('onpages.email')%>: <a href="mailto:info@hollandbaroque.com">info@hollandbaroque.com</a><br><%=t('onpages.phone')%>: <a href="tel:0031302751840">+ 31 (0)30-2751840</a></p>
  </article>
	<%=render "newsletter"%>    </div>
  </div>
</div>
